<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" >
    <title>Pokedéx/Deletar</title>
</head>

<body>
    <header class='head'>
      <a href="https://github.com/JohnSulliman/pokedex-crud" class='githubImage'>
        <img src='img/eevee.gif' width='70rem' alt='eevee' />
        <img src='img/github.png' width='60rem'/>
      </a>
    </header>

    <nav class='menu'>
        <a href='/' class='menuHome' style='color: #E0E0E0;'>
            <div>
                <img src='../img/pokeball2.png' width='30px' />
                <p>CANCELAR</p>
            </div>
        </a>
    </nav>

    <main class='body'>
      <div class='body-delete'>
        <form method="POST">
          <div>
            <h2>Quer mesmo excluir o pokémon <%= pokemon.name %> da pokedex?</h2>
            <p>O pokémon deletado não poderá ser recuperado!</p>
          </div>
        
          <button class="deleteButton" type="submit">EXCLUIR!</button>
        </form>
      </div>
    </main>

    <footer>
        <small>
            ©2021 Pokémon. TM, ®Nintendo.
        </small>
    </footer>

    <script src='/js/script.js'></script>

</body>
</html>