<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" >
    <title>Pokedéx</title>
</head>
<body>
    <main class="deletar">
        <form method="POST">
          <div class="exclusao">
            <h2>Quer mesmo excluir o pokémon da pokedex?</h2>
          </div>
  
          <button class="excluir" type="submit">EXCLUIR</button>
        </form>
      </main>
</body>
</html>