<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" >
    <title>Pokedéx</title>
</head>

<body>
    <header class='head'>

    </header>

    <nav class='menu'>
        <div class=menuHome>
            <img src='img/pokeball.png' width='30px' />
            <p>INÍCIO</p>
        </div>

        <div class=menuRegister>
            <img src='img/pokeball.png' width='30px' />
            <p>CADASTRAR</p>
        </div>
    </nav>

    <section class='body'>

    </section>

    <footer>
        <small>
            ©2021 Pokémon. TM, ®Nintendo.
        </small>
    </footer>
    
    <script src='/js/script.js'></script>
</body>

</html>