<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" >
    <title>Pokedéx</title>
</head>

<body>
    <header class='head'>

    </header>

    <nav class='menu'>
        <a href='/' class='menuHome'>
            <div>
                <img src='img/pokeball.png' width='30px' />
                <p>INÍCIO</p>
            </div>
        </a>

        <a href='/cadastro' class='menuRegister'>
            <div>
                <img src='img/pokeball.png' width='30px' />
                <p>CADASTRAR</p>
            </div>
        </a>
    </nav>

    <main class='body'>
        <div class='body-register'>
            <h1>Cadastro</h1>
        </div>
    </main>

    <footer>
        <small>
            ©2021 Pokémon. TM, ®Nintendo.
        </small>
    </footer>
    
    <script src='/js/script.js'></script>

</body>
</html>