* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #E0E0E0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

.head {
  background-color: #383838;
  min-height: 75px;
  background-image: url('../img/logo.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

.menu {
  background-color: #383838;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.menuHome {
  min-width: 80px;
  padding: 5px;
  border: 3px solid #383838;
}

.menuHome:hover {
  border-bottom: 3px solid #BC3232;
  cursor: pointer;
}

.menuRegister {
  min-width: 80px;
  padding: 5px;
  border: 3px solid #383838;
}

.menuRegister:hover {
  border-bottom: 3px solid #BC3232;
  cursor: pointer;
}

.register {
  margin-top: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.register-infos {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.input {
  margin: 10px;
  width: 185px;
}

.select {
  margin: 10px;
  width: 190px;
}

.body {
  min-height: 73vh;
  display: flex;
  justify-content: center;
}

.body-home {
  width: 90%;
  margin-top: 10px;
  padding: 10px;
}

.body-register {
  min-width: 40%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-infos {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.8);
}

.body-delete {
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.body-delete button {
  margin-top: 25px;
}

.infos {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.infos1 {
  width: 400px;
}

.infos2 {
  width: 50%;
}

.infos3  {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infos3 img {
  margin-top: 25px;
  
}

.infos3-descriptionRegion {
  margin-top: 25px;
}

.body-infos p {
  padding: 0.5rem;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  transition: .3s;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.7);
}

.card:hover {
  transform: scale(1.05);
}

.card p {
  margin: 5px;
}

.registerButton, .infoButtons {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerButton button{
  background-color: #00FF7F;
  padding: 0.5rem;
  border: 2px solid #383838;
  color: #383838;
  transition: .3s;
}

.registerButton button:hover {
  cursor: pointer;
  background-color: #00c060;
  transform: scale(1.05);
}

.editButton{
  background-color: #FFD700;
  padding: 0.5rem;
  border: 2px solid #383838;
  color: #383838;
  transition: .3s;
  width: 100px;
  margin-bottom: 0.5rem;
}

.editButton:hover {
  cursor: pointer;
  background-color: #ceaf00;
  transform: scale(1.05);
}

.deleteButton{
  background-color: #cc3838;
  padding: 0.5rem;
  border: 2px solid #383838;
  color: #383838;
  transition: .3s;
  width: 100px;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: #a02a2a;
  transform: scale(1.05);
}
/* ---------------------------------------------Mensagens------------------------------------------------------- */

#message {
  background-color: #00FF7F;
  color: #231f20;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

#close {
  color: #231f20;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  transition: .3s;
}

#close:hover {
  color: #cc3838;
  transform: scale(1.05);
  cursor: pointer;
}

/* -----------------------------------------------Tipos--------------------------------------------------------- */

#Inseto {
  background-color: SeaGreen;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Noturno {
  background-color: DimGrey;
  color: White;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Dragão {
  background: linear-gradient(rgba(0, 153, 204, 0.7), transparent);
  background-color: IndianRed;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Elétrico {
  background-color: Gold;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Fada {
  background-color: LightPink;
  color: Black;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Lutador {
  background-color: Chocolate;
  color: Black;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Fogo {
  background-color: DarkOrange;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Voador {
  background: linear-gradient(rgba(0, 191, 255, 0.7), transparent);
  background-color: DarkSlateBlue;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Fantasma {
  background-color: MediumPurple;
  color: Black;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Grama {
  background-color: MediumSeaGreen;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Terra {
  background-color: DarkGoldenrod;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Gelo {
  background-color: LightSkyBlue;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Normal {
  background-color: PeachPuff;
  color: Black;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Venenoso {
  background-color: DarkOrchid;
  color: White;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Psíquico {
  background-color: Violet;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Pedra {
  background-color: SaddleBrown;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Aço {
  background-color: LightSlateGray;
  color: Black;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}
  
#Água {
  background-color: DodgerBlue;
  padding: 2px;
  border: 1px solid Black;
  border-radius: 5px;
}

/* ----------------------------------------------Scrollbar------------------------------------------------------- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #383838;
}

::-webkit-scrollbar-thumb {
  background: #BC3232;
}
